eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    
  instance:
    preferIpAddress: true
    fetch-registry: true
    register-with-eureka: true   

management:
  endpoint:
    health:
      show-details: always
      
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info, circuitbreakers

resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
